.subject {
   width: 100%;
   color: var(--white);
   padding-bottom: 15px;
   margin-bottom: 15px;
   border-bottom: 1px solid var(--white);
   display: grid;
   grid-template: 1fr auto / repeat(2, 1fr);
   grid-template-areas:
      'name types'
      'final types';
}

.subject__name {
   grid-area: name;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
}

.subject__final {
   grid-area: final;
   text-align: center;
}

.subject__types {
   grid-area: types;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 10px;
}

.subject__types-header {
   font-size: 0.8em;
   font-weight: 700;
}

:is(.subject__types-header, .subject__types-type) {
   width: 100%;
   display: flex;
}

:is(.subject__types-header, .subject__types-type) > div {
   text-align: center;
   width: 30%;
   padding: 0 5px;
}

:is(.subject__types-header, .subject__types-type) > div:first-child {
   text-align: right;
   width: 40%;
   padding-right: 5px;
}

.subject__types-type input {
   border: 1px solid var(--black-25);
   border-radius: 15px;
   color: var(--white);
   background-color: var(--black-75);
   width: 100%;
   height: 100%;
   text-align: center;
   overflow: hidden;
}

.subject__types-type input:focus {
   outline: 0;
   border-color: var(--primary);
}

.subject__types-type input::-webkit-outer-spin-button,
.subject__types-type input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

.subject__types-type input[type='number'] {
   -moz-appearance: textfield;
}

.subject__final-min {
   color: var(--primary);
}

.subject__final-current {
   color: var(--secondary);
}

.subject__final-max {
   color: var(--tertiary);
}
