.calculations {
   width: 100%;
   flex-grow: 1;
   display: flex;
   flex-direction: column;
   gap: 20px;
   padding: 25px;
   background-color: var(--black-100);
   color: var(--white);
   overflow-y: auto;
}

.controls {
   display: flex;
   justify-content: center;
   padding-top: 25px;
}

.button {
   font-size: 1em;
}

@media screen and (min-width: 850px) and (orientation: landscape) {
   .calculations {
      width: auto;
      flex-grow: 0;
      min-width: 675px;
      height: 100%;
   }
}
