.calculations {
   padding: 25px;
   color: var(--white);
   background-color: var(--black-100-o);
   display: grid;
   grid-template: auto 1fr auto / 1fr;
   grid-template-areas:
      'header'
      'main'
      'footer';
}

.calculations header {
   display: flex;
   align-items: center;
   gap: 10px;
   text-transform: uppercase;
   padding: 0 20px 15px 20px;
   margin-bottom: 15px;
   border-bottom: 1px solid var(--white);
   grid-area: header;
}

.calculations header > h2 {
   font-size: 1.25em;
   margin: 0;
}

.header__icon {
   transform: scale(1.75);
   stroke-width: 1.5;
}

.calculations > main {
   grid-area: main;
}

.calculations > main > div {
   margin: 10px 0;
   font-weight: bold;
}

.subjects {
   font-weight: 400;
   color: var(--secondary);
}

:is(.gpa__min, .scholarship__min) {
   font-weight: 400;
   color: var(--primary);
}

:is(.gpa__current, .scholarship__current) {
   font-weight: 400;
   color: var(--secondary);
}

:is(.gpa__max, .scholarship__max) {
   font-weight: 400;
   color: var(--tertiary);
}

.calculations > footer {
   display: flex;
   flex-direction: column;
   gap: 5px;
   grid-area: footer;
}

.calculations > footer > div {
   display: flex;
   align-items: center;
   gap: 5px;
}

.calculations > footer > div > div {
   width: 15px;
   height: 15px;
   border-radius: 100%;
}

.calculations > footer > div > p {
   margin: 0;
}

.legend__worst-case > div {
   background-color: var(--primary);
}

.legend__worst-case > p {
   color: var(--primary);
}

.legend__current > div {
   background-color: var(--secondary);
}

.legend__current > p {
   color: var(--secondary);
}

.legend__best-case > div {
   background-color: var(--tertiary);
}

.legend__best-case > p {
   color: var(--tertiary);
}
