.subject {
   width: 100%;
   color: var(--white);
   padding-bottom: 15px;
   margin-bottom: 15px;
   border-bottom: 1px solid var(--white);
   display: grid;
   grid-template: 1fr auto / repeat(2, 1fr);
   grid-template-areas:
      'name types'
      'final types';
}

.subject__name {
   grid-area: name;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   transition: 0.2s color;
   cursor: pointer;
}

.subject__name:hover {
   color: var(--warning);
}

.subject__final {
   grid-area: final;
   text-align: center;
}

.subject__types {
   grid-area: types;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 10px;
}

.subject__types-header {
   width: 100%;
   display: flex;
   font-size: 0.8em;
   font-weight: 700;
}

.subject__types-header > div {
   text-align: center;
   width: 30%;
   padding: 0 5px;
}

.subject__types-header > div:first-child {
   text-align: right;
   width: 40%;
   padding-right: 5px;
}

.subject__final-min {
   color: var(--primary);
}

.subject__final-current {
   color: var(--secondary);
}

.subject__final-max {
   color: var(--tertiary);
}
