.summary {
   position: fixed;
   bottom: 0;
   left: 0;
   width: calc(100% - 20px);
   height: calc(100% - 20px);
   padding: 5px 25px 25px 25px;
   border-radius: 15px;
   margin: 10px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: 20px;
   background-color: var(--black-75);
   color: var(--white);
   font-size: 16px;
   transition: transform 0.2s;
   transform: translateY(calc(100% - 34px));
   /* transform: translateY(0); */
}

.summary.shown {
   transform: translateY(0);
}

:is(.data, .legend) {
   display: flex;
   flex-direction: column;
   gap: 10px;
   text-transform: uppercase;
}

:is(.header, .best-case, .current-case, .worst-case) {
   display: flex;
   align-items: center;
   gap: 5px;
}

.header {
   height: 40px;
   justify-content: center;
   border-bottom: 1px solid var(--white);
   padding-bottom: 5px;
   cursor: pointer;
}

.header h2 {
   font-size: 1.75em;
   margin: 0;
}

:is(.best-case, .current-case, .worst-case) span {
   width: 1em;
   height: 1em;
   border-radius: 100%;
}

:is(.best-case, .current-case, .worst-case) p {
   margin: 0;
}

.best-case span {
   background-color: var(--tertiary);
}

.best-case p {
   color: var(--tertiary);
}

.current-case span {
   background-color: var(--secondary);
}

.current-case p {
   color: var(--secondary);
}

.worst-case span {
   background-color: var(--primary);
}

.worst-case p {
   color: var(--primary);
}

.unavailable {
   text-decoration: line-through;
}

.primary {
   color: var(--primary);
}

.secondary {
   color: var(--secondary);
}

.tertiary {
   color: var(--tertiary);
}

@media screen and (min-width: 850px) and (orientation: landscape) {
   .summary {
      position: relative;
      width: auto;
      height: 100%;
      padding: 25px;
      transform: translateY(0);
      cursor: auto;
      border-radius: 0;
      margin: 0;
      transition: none;
   }

   .header {
      cursor: auto;
   }
}
