.calculator {
   width: 100%;
   flex-grow: 1;
   border-radius: 15px;
   overflow: hidden;
   display: flex;
   margin-bottom: 40px;
}

@media screen and (min-width: 850px) and (orientation: landscape) {
   .calculator {
      width: auto;
      flex-grow: 0;
      height: max(600px, 70vh);
      margin-bottom: 0;
   }
}
