.header {
   display: flex;
   align-items: center;
   color: var(--black-100);
}

.header__icon {
   stroke: var(--black-100);
   stroke-width: 2px;
   margin-right: 2em;
   transform: scale(2.5);
}

.header__text {
   font-weight: 900;
   text-transform: uppercase;
}
