:root {
   --background: #232323;
   --text: #fff;
   --primary: #ff6347;
}

body {
   color: var(--text);
   background-color: var(--background);
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
